@import url(//fonts.googleapis.com/css?family=Nunito);

body{
    margin: 0%;
    align-items: flex-start;
    background-color: #ff5b00;
    border: 1px none;
    display: block;
    /* gap: 25px; */
    height: auto;
    width: auto;
    font-family:Nunito;
}

.navbar{
    display:block;
    overflow: hidden;
    /*background-color: #ff5b00*/
    font-size: 18px;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    justify-content: space-around;
}

.menu--item{
    padding: 10%
}

.section--home{
    display:block;
    height:100vh;
}

.title--cian--tarrant{
    font-size: 100px;
    text-align: center;
}

.test{
    display: block;
    width: 100px;
    height: 100px;
    padding: 5px;
    border: 1px solid blue; 
    background-color: yellow; 
}
